@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.custom-poison-cell {
    background-color: #A040A0;
}

.custom-grass-cell {
    background-color: #78C850;
}

.custom-fire-cell {
    background-color: #F08030;
}

.custom-flying-cell {
    background-color: #A890F0;
}

.custom-water-cell {
    background-color: #6890F0;
}

.custom-dragon-cell {
    background-color: #7038F8;
}

.custom-rock-cell {
    background-color: #B8A038;
}

.custom-ground-cell {
    background-color: #E0C068;
}

.custom-dark-cell {
    background-color: #705848;
}

.custom-ice-cell {
    background-color: #98D8D8;
}

.custom-ghost-cell {
    background-color: #705898;
}

.custom-bug-cell{
    background-color: #A8B820;
}

.custom-normal-cell{
    background-color: #A8A878;
}

.custom-steel-cell{
    background-color: #B8B8D0;
}


.is-custom-bg-index {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4d1f087a-24b4-47a0-906b-7f66a07311f9/d61jpl5-192126c6-f0cf-4d20-bf53-c39adf58474a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRkMWYwODdhLTI0YjQtNDdhMC05MDZiLTdmNjZhMDczMTFmOVwvZDYxanBsNS0xOTIxMjZjNi1mMGNmLTRkMjAtYmY1My1jMzlhZGY1ODQ3NGEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.FRVNQBsuORWS9Mjzdk5ckzwnHb67GWE_Ax-YAugAGA4");
    background-size:cover;
}

.is-custom-bg-download{
    background-image: url("https://www.pokepedia.fr/images/thumb/8/82/Ruines_Tour_Cendr%C3%A9e-HGSS.png/1200px-Ruines_Tour_Cendr%C3%A9e-HGSS.png");
    background-size:cover;
}

li {
    margin-bottom: 10px;
  }


